@model IEnumerable<appVps_up.Models.User>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <a asp-action="Create" asp-controller="User" class="btn btn-primary">Crear nuevo usuario</a>
                <div class="table-responsive">
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>NOMBRES</th>
                            <th>CORREO</th>
                            <th>ACCIONES</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.Name</td>
                                <td>@user.Email</td>
                                <td>
                                    <form asp-action="Destroy" asp-controller="User" asp-route-id="@user.Id"
                                          method="post">
                                        <a asp-action="Show" asp-controller="User" asp-route-id="@user.Id"
                                           class="btn btn-sm btn-info">Detalles</a>
                                        <a asp-action="Edit" asp-controller="User" asp-route-id="@user.Id"
                                           class="btn btn-sm btn-warning">Editar</a>
                                        <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                        }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>